<!DOCTYPE html>
<html>

<head>
    <title>Rage</title>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="app">
        <div class="toolbar">
            <button tabindex="0" v-on:click="movePlayer" class="btn_blue">{{movePlayerBtnLabel}}</button>
            <button tabindex="1" v-on:click="closeBrowser" class="btn_red">Закрыть</button>
        </div>
        <div v-if="showCoordinatesForm" class="form">
            <input tabindex="0" v-model="coordinates" placeholder="Координаты" v-on:keyup.enter="movePlayer">
            <div v-if="formError" class="form_error">
                <p>{{formError}}</p>
            </div>
        </div>
    </div>

    <script src="./index.js"></script>
</body>

</html>