#app {
    width: 15em;
}

.toolbar{
    display: flex;
    flex-direction: row;
}
.form,.toolbar{
    margin: 0.5em;
}

.form input{
    width: 9em;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.toolbar button{
    border-radius: 20%;
    color: #fff;
    font-size: 0.8em;
    height: 3em;
    width: 9em;
}

.btn_blue{
    background: #76B3FA;
    margin-right: 5px;
}

.btn_red, .form_error{
    background: rgb(250, 118, 118);
}